samp {
  display: block;
}

code, pre {
  font-family: 'Courier New', Courier, monospace;
}

pre {
  background-color: #1e1e1e;
  color: white;
  font-weight: bold;
  padding-top: 15px;
}

.selector {
  color: #ffc813;
}

.property {
  color: #9cdcfe;
}

.value {
  color: #ce896d;
}