@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,400&display=swap');

body {
  font-size: 1em;
}

h1, h2, h3, h4 {
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
}

p, li{
  font-family: 'Open Sans', sans-serif;
}

/* Styling for Nav Menu */

nav {
  border: black 4px solid;
  width: 340px;
}

nav ul {
  padding-left: 24px;
}

nav li {
  list-style-type: none;
}

nav a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Styling for Code Examples */

code, pre {
  font-family: 'Courier New', Courier, monospace;
}

code {
  color: #15141f;
  background-color: #eae9ed;
  border-radius: 0.125rem;
  margin: 0 0.0625rem;
  padding: 0 0.25rem;
}

pre {
  white-space: pre-line;
  background-color: #1e1e1e;
  color: white;
  font-weight: bold;
  padding: 15px;
}

.example {
  display: block;
  width: 100%;
}

.selector {
  color: #ffc813;
}

.rule {
  color: #b571c1;
}

.property {
  color: #9cdcfe;
  padding-left: 1rem;
}

.value {
  color: #ce896d;
}

.tag {
  color: #e85d7f;
}

.comment {
  color: #939598;
}

.attribute {
  color: #b4d353;
}

.htmlvalue {
  color: #ffe083;
}

/* Styling for Images */

img {
  max-width: 100%;
  height: auto;
}

#line-height-img {
  height: 17rem;
}